[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
black = "*"
pytest = "*"
responses = "*"
pytest-cov = "*"
flake8 = "*"
classic = {editable = true, path = "."}
